{"swagger":"2.0","info":{"description":"车辆主数据相关接口","version":"1.0","title":"vesp-gvs-vehicle相关接口"},"host":"vesp-gvs-vehicle.uatapps.aliocp.csvw.com","basePath":"/","tags":[{"name":"CEI DP IF","description":"Cei Dp Controller"},{"name":"Capability-Categories接口,车辆能力分类服务","description":"Capability Categories Controller"},{"name":"External IF","description":"External BM Controller"},{"name":"Function On Demand（FOD）","description":"Function On Demand Controller"},{"name":"Gets  vehicle wifiStick status","description":"Vehicle Wifi Stick Controller"},{"name":"Manifest file server","description":"Manifest Controller"},{"name":"Optional-Part,选装件接口","description":"Optional Part Controller"},{"name":"PRNR IF","description":"Rnr Vehicle Data Controller"},{"name":"Platform Version Configuration","description":"Platform Version Configuration Controller"},{"name":"Platform Version Enhancement","description":"Platform Version Enhancement Controller"},{"name":"Software Version Configuration","description":"Software Version Configuration Controller"},{"name":"VEHICLE-Capability接口,车辆能力服务","description":"Capability Controller"},{"name":"VEHICLE-Grey车辆运营相关接口","description":"Grey Operation Controller"},{"name":"VEHICLE-Handbook接口","description":"Vehicle Hand Book Controller"},{"name":"VEHICLE-HuSoftwareVersion接口,车辆车机软件版本服务","description":"Vehicle Hu Software Version Controller"},{"name":"VEHICLE-IMAGE-Extend接口,车辆图片扩展相关接口","description":"Vehicle Image Extend Controller"},{"name":"VEHICLE-IMAGE接口,车辆图片相关接口","description":"Vehicle Image Controller"},{"name":"VEHICLE-QRCode接口,车辆二维码服务","description":"QR Code Controller"},{"name":"VEHICLE-Tag接口,标签服务","description":"Vehicle Tag Controller"},{"name":"VEHICLE-Vehicle,Model data接口,同步车辆车型主数据","description":"Vehicle Sync Data Controller"},{"name":"VEHICLE-VehicleDataV3接口,车辆数据中心服务","description":"Vehicle Base V 3 Controller"},{"name":"VEHICLE-VehicleData接口,车辆数据中心服务","description":"Vehicle Base Controller"},{"name":"VEHICLE-VehicleDevice接口,车辆设备数据服务","description":"Vehicle Device Controller"},{"name":"VEHICLE-VehicleModel接口,车型相关接口","description":"Vehicle Model Controller"},{"name":"VEHICLE-VehicleQualityCert接口,车辆合格证服务","description":"Vehicle Quality Cert Controller"},{"name":"VEHICLE-VehicleSeries接口,车系相关接口","description":"Vehicle Series Controller"},{"name":"vehicle相关sim card相关服务接口","description":"Sim Data Controller"},{"name":"同步MOS车系信息","description":"Sync Mos Series Info Controller"},{"name":"移动互联工单系统接口","description":"Work Order System Controller"},{"name":"车辆车型相关数据维护(内部调用，谨慎操作)","description":"Vehicle Maintain Data Controller"}],"produces":["application/json"],"paths":{"/api/v1/admin/model/{modelId}/extend/reset":{"post":{"tags":["VEHICLE-IMAGE-Extend接口,车辆图片扩展相关接口"],"summary":"根据车型ID重置扩展图片","description":"根据车型ID重置扩展图片","operationId":"resetModelPicInfoByModelIdUsingPOST","consumes":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"modelId","in":"path","description":"modelId","required":true,"type":"string"},{"in":"body","name":"resetModelExtendPicInfoReqDTO","description":"resetModelExtendPicInfoReqDTO","required":true,"schema":{"$ref":"#/definitions/ResetModelExtendPicInfoReqDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v1/admin/model/{modelId}/extend/save":{"post":{"tags":["VEHICLE-IMAGE-Extend接口,车辆图片扩展相关接口"],"summary":"根据车型ID保存扩展图片","description":"根据车型ID保存扩展图片","operationId":"saveModelPicInfoByModelIdUsingPOST","consumes":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"modelId","in":"path","description":"modelId","required":true,"type":"string"},{"in":"body","name":"saveModelExtendPicInfoReqDTO","description":"saveModelExtendPicInfoReqDTO","required":true,"schema":{"$ref":"#/definitions/SaveModelExtendPicInfoReqDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v1/admin/{modelId}/images/{type}/extend":{"get":{"tags":["VEHICLE-IMAGE-Extend接口,车辆图片扩展相关接口"],"summary":"根据车型ID和类型查询车辆扩展图片--运营接口","operationId":"getVehicleImageExtendByModelIdAndTypeUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"modelId","in":"path","description":"modelId","required":false,"type":"string","default":"123123123123"},{"name":"type","in":"path","description":"type","required":false,"type":"string","default":"watch"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«List«VehicleImageExtendDTO»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v1/manifests":{"get":{"tags":["Manifest file server"],"summary":"searchManifests","operationId":"searchManifestsUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"beginTime","in":"query","required":false,"type":"string"},{"name":"endTime","in":"query","required":false,"type":"string"},{"name":"md5","in":"query","required":false,"type":"string"},{"name":"isCurrent","in":"query","required":false,"type":"boolean"},{"name":"platformVersionCode","in":"query","required":false,"type":"string"},{"name":"pageIndex","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«IPage«ManifestAdminDTO»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}},"post":{"tags":["Manifest file server"],"summary":"addManifests","operationId":"addManifestsUsingPOST","consumes":["multipart/form-data"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"uploadFile","in":"formData","description":"uploadFile","required":true,"type":"file"},{"name":"user","in":"query","description":"user","required":true,"type":"string"},{"name":"platformVersionCode","in":"query","description":"platformVersionCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«boolean»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v1/manifests/{id}":{"get":{"tags":["Manifest file server"],"summary":"getManifestsById","operationId":"getManifestsByIdUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«ManifestResponseDTO»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}},"put":{"tags":["Manifest file server"],"summary":"updateLastManifests","operationId":"updateLastManifestsUsingPUT","consumes":["multipart/form-data"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"uploadFile","in":"formData","description":"uploadFile","required":true,"type":"file"},{"name":"user","in":"query","description":"user","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"platformVersionCode","in":"query","description":"platformVersionCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«boolean»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v1/manifests/{id}/action/restore":{"put":{"tags":["Manifest file server"],"summary":"restoreLastManifests","operationId":"restoreLastManifestsUsingPUT","consumes":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"user","in":"query","description":"user","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«boolean»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v1/manifests/{vin}/latest":{"post":{"tags":["Manifest file server"],"summary":"getLastManifests","operationId":"getLastManifestsUsingPOST","consumes":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"vin","in":"path","description":"vin","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«ManifestResponseDTO»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v1/vehicles/{vin}/images/{type}/extend":{"get":{"tags":["VEHICLE-IMAGE-Extend接口,车辆图片扩展相关接口"],"summary":"根据VIN和类型查询车辆扩展图片--体验层调用接口","operationId":"selectVehicleImagesByVinAndTypeUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"vin","in":"path","description":"vin","required":false,"type":"string","default":"WVWZZZ3CZKE501133"},{"name":"type","in":"path","description":"type","required":false,"type":"string","default":"watch"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«List«VehicleImageExtendDTO»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/admin/brand/models/codes":{"get":{"tags":["VEHICLE-Grey车辆运营相关接口"],"summary":"根据品牌,车型年获取车型六位码列表","operationId":"getVehicleModelCodeListUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"brand","in":"query","description":"品牌","required":false,"type":"string"},{"name":"modelYear","in":"query","description":"车型年","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«List«string»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/admin/brand/year/modelInfo":{"get":{"tags":["VEHICLE-Grey车辆运营相关接口"],"summary":"根据品牌,车型年,车型六位码获取车型信息","operationId":"getModelInfoByYearAndCodeUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"brand","in":"query","description":"品牌","required":false,"type":"string"},{"name":"modelYear","in":"query","description":"车型年","required":false,"type":"string"},{"name":"modelCode","in":"query","description":"六位车型代码","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«VehicleModelEntity»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/admin/brand/years":{"get":{"tags":["VEHICLE-Grey车辆运营相关接口"],"summary":"根据品牌获取车型年列表","operationId":"getVehicleModelYearListByBrandUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"brand","in":"query","description":"品牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«List«string»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/admin/models/{modelId}/colors":{"get":{"tags":["VEHICLE-Grey车辆运营相关接口"],"summary":"根据车型主键ID获取颜色信息","operationId":"getVehicleModelColorsUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"modelId","in":"path","description":"车型主键ID","required":false,"type":"integer","default":123,"format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«List«ColorInfoDTO»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/admin/vehicles":{"put":{"tags":["VEHICLE-Grey车辆运营相关接口"],"summary":"更新车辆车型和车辆颜色","operationId":"updateVehicleModelAndColorUsingPUT","consumes":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"in":"body","name":"updateVehicleModelAndColorDTO","description":"updateVehicleModelAndColorDTO","required":true,"schema":{"$ref":"#/definitions/UpdateVehicleModelAndColorDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«boolean»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/admin/vehicles/summarise":{"get":{"tags":["VEHICLE-Grey车辆运营相关接口"],"summary":"通过vin查询车辆概要信息","description":"通过vin查询车辆概要信息","operationId":"getVehicleSummariseUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"brand","in":"query","description":"品牌","required":true,"type":"string","enum":["VW","SKD","AUDI"]},{"name":"vin","in":"query","description":"VIN","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«VehicleSummariseDTO»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/after-vicp-device/vehicles/{vin}":{"get":{"tags":["External IF"],"summary":"BM对接根据VIN查询车辆信息（售后导航屏项目）","operationId":"getVehicleDataByVinUsingGET_1","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"vin","in":"path","description":"车辆VIN","required":true,"type":"string","default":"WVWZZZ3CZKE501133"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«AfterSalesVehicleDataDTO»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/after-vicp-device/vehicles/{vin}/devices/{deviceType}/notification":{"post":{"tags":["External IF"],"summary":"接受BM同步过来的PNS设备数据（首次注册、更换件、设备数据更新）","operationId":"pnsDeviceNotificationUsingPOST","consumes":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"vin","in":"path","description":"车辆VIN","required":true,"type":"string","default":"WVWZZZ3CZKE501133"},{"name":"deviceType","in":"path","description":"设备类型","required":true,"type":"string","default":"pns"},{"in":"body","name":"pnsDeviceDTO","description":"pnsDeviceDTO","required":true,"schema":{"$ref":"#/definitions/PnsDeviceDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/brand/{brandCode}/platforms":{"get":{"tags":["VEHICLE-VehicleData接口,车辆数据中心服务"],"summary":"通brandCode查询平台信息","operationId":"selectPlatFormVersionByBrandUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"brandCode","in":"path","description":"品牌","required":true,"type":"string","default":"AUDI"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«List«PlatformVersionDTO»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/brand/{brandId}/series":{"get":{"tags":["VEHICLE-VehicleSeries接口,车系相关接口"],"summary":"根据品牌id查询车系信息","operationId":"getVehicleSeriesByBrandIdUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"brandId","in":"path","description":"品牌id","required":false,"type":"string","default":"1"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«List«VehicleSeriesDTO»»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"401":{"description":"访问API时，身份验证失败（或未提供验证信息）","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"403":{"description":"用户身份验证信息正确，但未被授权执行此操作","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"404":{"description":"请求的资源在服务器上不可用","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"405":{"description":"用户试图违反API定义，例如，尝试使用POST方法更新资源。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"500":{"description":"由于服务器故障或底层基础结构问题而产生的Error，或者未处理的异常。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}}}}},"/api/v2/brands/{brandCode}/vehicles/sims/{iccid}":{"get":{"tags":["VEHICLE-VehicleData接口,车辆数据中心服务"],"summary":"通过ICCID和brandCode查询车辆信息","operationId":"getVehicleInfoByIccidAndBranCodeUsingGET","parameters":[{"name":"Authorization","in":"header","description":"用于传递接口身份验证的Token","required":true,"type":"string","default":"Bearer eyJraWQiOiI2NzI5NTU5OTk5MDIzNDk5NDYyIiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJzY3AiOlsidXNlciJdLCJzdWIiOiI1MDczMiIsInZlciI6IjEuMCIsImlzcyI6Im1vcy5jc3Z3LmNvbSIsImNjaCI6ImFwcCIsInR5cCI6IkFUIiwiaWR0LWlkIjoiYjA1ZWQ4YjItNmEyNS00MmYzLWFjYjEtYjI1ODVhZjIyNDI5Iiwicm9sIjoiUFJJTUFSWV9VU0VSIiwic3R5cCI6IlQzIiwiYXVkIjoid3d3LnN2dy5jb20uY24iLCJ2aW4iOiJMU1ZDSjZBNDlDTjE1MDA0MiIsInRudCI6InZ3IiwiZXhwIjoxNTUzNDA2ODY1LCJpYXQiOjE1NTI1NDI4NjUsInJ0LWlkIjoiMzQ1Njg5NWItNGVmYi00MzI0LWI1ZmUtODA2NzI2MDViNzIzIiwianRpIjoiN2I4Yzc4NjgtNzUwOC00ZDk2LWE4Y2UtZWQ3MTYxZDgwZjEwIn0.7J6XPMqxp3QoioGO2zbmD3FtgofnCNrrMXr25dpuxISNaZkyjnpsFe755_lu55TI2zLNdYMpUCajmM2qVg9WSQ"},{"name":"TraceId","in":"header","description":"请求追踪ID{UUID}_{UserID(/无用户登陆则默认为sc)}_{DeviceID}_{时间(精确到毫秒)}","required":true,"type":"string","default":"a77380a5-fc7d_123215123123_ GRO63301.10.23242312_1531993537786"},{"name":"Accept-Language","in":"header","description":"en-US,zh-CN.\r\n\r\n如果Accept-Language值没有提供或者不支持的类型，默认为zh-CN.","required":true,"type":"string","default":"zh-CN"},{"name":"Accept","in":"header","description":"统一为application/json; charset=utf-8","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"数据格式","required":true,"type":"string","default":"application/json;charset=UTF-8"},{"name":"Did","in":"header","description":"品牌设备类别设备型号DeviceID系统版本_应用版本","required":true,"type":"string","default":"VW_HU_CNS3_GRO-63301.10.23242312_v1.0.1_v0.0.1"},{"name":"deviceId","in":"header","description":"设备号(app专用)","required":true,"type":"string","default":"b25f29e5f2bb48f084a015fa03da8512"},{"name":"Timestamp","in":"header","description":"请求时间戳","required":true,"type":"string","default":"1552383183000"},{"name":"brandCode","in":"path","description":"品牌","required":true,"type":"string","default":"AUDI"},{"name":"iccid","in":"path","description":"SIM卡ICCID","required":true,"type":"string","default":"123456789"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResponse«VehicleStandardDTO»"},"headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"304":{"description":"如果实现了HTTP缓存头，则使用。","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错时，需要添加此字段，帮助定位问题。后台正常返回时填写正确码，详见错误码定义"}}},"400":{"description":"无法解析HTTP请求时。\r\n例如：\r\n    API指定了POST请求的JSON格式，但请求的Body格式不是一个正确的JSON。\r\n   缺少必要参数","headers":{"Content-Type":{"type":"string","description":"统一返回application/json， 媒体文件类型除外"},"TraceID":{"type":"string","description":"返回当前HTTP Request的TraceID"},"X-Code":{"type":"string","description":"当后台出错
[...]
